extends layout

block content
	h1 Comment System
	h2 Commit one comment
	form(action="/comment/submit", method="post")
		p
			label(for="workid") WorkID:
				input(name="workid", type="text")
		p
			label(for="rate") Rate:
				input(name="rate", type="text")
		p
			label(for="comment") Comment:
				input(name="comment", type="text")
		p
			label(for="tel") Tel:
				input(name="tel", type="text")
		p
			input(value="submit" type="submit")
	h2 Search comments
	form(method="post", name="search")
		p
			label(for="workid") WorkID:
				select(name="workid")
		p
			input(value="search",type="submit")

